language: ruby
rvm: "2.3.1"
before_install:
  - nvm install node
  - nvm use node
  - node --version
  - ruby --version
install:
  - npm install -g webpack
  - npm install
  - bundler install
script: ./deploy.sh
env:
  global:
    - ENCRYPTION_LABEL: "bb16b97d7bf0"
    - COMMIT_AUTHOR_EMAIL: "alxandr@alxandr.me"