/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */

code[class*='language-'],
pre[class*='language-'] {
  color: black;
  font-size: 1em;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  line-height: 1.5;
  white-space: pre;
  text-align: left;
  word-wrap: normal;
  word-break: normal;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: none;
}

/* Code blocks */
pre[class*='language-'] {
  position: relative;
  margin: 0.5em 0;
  padding: 0;
  overflow: visible;
}
pre[class*='language-'] > code {
  position: relative;
  background-color: #fdfdfd;
  background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
  border-left: 10px solid #358ccb;
  box-shadow: -1px 0 0 0 #358ccb, 0 0 0 1px #dfdfdf;
}

code[class*='language'] {
  display: block;
  height: inherit;
  max-height: inherit;
  padding: 0 1em;
  overflow: auto;
}

/* Margin bottom to accommodate shadow */
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
  background-color: #fdfdfd;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  position: relative;
  display: inline;
  padding: 0.2em;
  color: #c92c2c;
  white-space: normal;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3em;
}

pre[class*='language-']::before,
pre[class*='language-']::after {
  position: absolute;
  bottom: 0.75em;
  left: 0.18em;
  z-index: -2;
  display: block;
  width: 40%;
  height: 20%;
  max-height: 13em;
  box-shadow: 0 13px 8px #979797;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  content: '';
}

:not(pre) > code[class*='language-']::after,
pre[class*='language-']::after {
  right: 0.75em;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7d8b99;
}

.token.punctuation {
  color: #5f6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: #c92c2c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
  color: #2f9c0a;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: #1990b8;
}

.token.regex,
.token.important {
  color: #e90;
}

.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.important {
  font-weight: normal;
}

.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.namespace {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  pre[class*='language-']::before,
  pre[class*='language-']::after {
    bottom: 14px;
    box-shadow: none;
  }
}
