/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */

code[class*='language-'],
pre[class*='language-'] {
  color: black;
  font-size: 1em;
  font-family: 'Fira Code', consolas, monospace;
  line-height: 1.5;
  white-space: pre;
  text-align: left;
  word-wrap: normal;
  word-break: normal;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: none;
}

/* Code blocks */
pre[class*='language-'] {
  position: relative;
  margin: 0.5em 0;
  padding: 0;
  overflow: visible;
}
pre[class*='language-'] > code {
  position: relative;
  background-color: #fdfdfd;
  background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
  border-left: 10px solid #358ccb;
  box-shadow: -1px 0 0 0 #358ccb, 0 0 0 1px #dfdfdf;
}

code[class*='language'] {
  display: block;
  height: inherit;
  max-height: inherit;
  padding: 0 1em;
  overflow: auto;
}

/* Margin bottom to accommodate shadow */
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
  background-color: #fdfdfd;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  position: relative;
  display: inline;
  padding: 0.2em;
  color: #c92c2c;
  white-space: normal;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3em;
}

pre[class*='language-']::before,
pre[class*='language-']::after {
  position: absolute;
  bottom: 0.75em;
  left: 0.18em;
  z-index: -2;
  display: block;
  width: 40%;
  height: 20%;
  max-height: 13em;
  box-shadow: 0 13px 8px #979797;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  content: '';
}

:not(pre) > code[class*='language-']::after,
pre[class*='language-']::after {
  right: 0.75em;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

@media screen and (max-width: 767px) {
  pre[class*='language-']::before,
  pre[class*='language-']::after {
    bottom: 14px;
    box-shadow: none;
  }
}

pre[class*='language-'] {
  .meta-embedded {
    color: #000000ff;
  }
  .source-groovy-embedded {
    color: #000000ff;
  }
  .emphasis {
    font-style: italic;
  }
  .strong {
    font-weight: bold;
  }
  .meta-diff-header {
    color: #000080;
  }
  .comment {
    color: #008000;
  }
  .constant-language {
    color: #0000ff;
  }
  .constant-numeric {
    color: #098658;
  }
  .variable-other-enummember {
    color: #0070c1;
  }
  .keyword-operator-plus-exponent {
    color: #098658;
  }
  .keyword-operator-minus-exponent {
    color: #098658;
  }
  .constant-regexp {
    color: #811f3f;
  }
  .entity-name-tag {
    color: #800000;
  }
  .entity-name-selector {
    color: #800000;
  }
  .entity-other-attribute-name {
    color: #ff0000;
  }
  .entity-other-attribute-name-class-css {
    color: #800000;
  }
  .entity-other-attribute-name-class-mixin-css {
    color: #800000;
  }
  .entity-other-attribute-name-id-css {
    color: #800000;
  }
  .entity-other-attribute-name-parent-selector-css {
    color: #800000;
  }
  .entity-other-attribute-name-pseudo-class-css {
    color: #800000;
  }
  .entity-other-attribute-name-pseudo-element-css {
    color: #800000;
  }
  .source-css-less,
  .entity-other-attribute-name-id {
    color: #800000;
  }
  .entity-other-attribute-name-scss {
    color: #800000;
  }
  .invalid {
    color: #cd3131;
  }
  .markup-underline {
    text-decoration: underline;
  }
  .markup-bold {
    font-weight: bold;
    color: #000080;
  }
  .markup-heading {
    font-weight: bold;
    color: #800000;
  }
  .markup-italic {
    font-style: italic;
  }
  .markup-inserted {
    color: #098658;
  }
  .markup-deleted {
    color: #a31515;
  }
  .markup-changed {
    color: #0451a5;
  }
  .punctuation-definition-quote-begin-markdown {
    color: #0451a5;
  }
  .punctuation-definition-list-begin-markdown {
    color: #0451a5;
  }
  .markup-inline-raw {
    color: #800000;
  }
  .punctuation-definition-tag {
    color: #800000;
  }
  .meta-preprocessor {
    color: #0000ff;
  }
  .entity-name-function-preprocessor {
    color: #0000ff;
  }
  .meta-preprocessor-string {
    color: #a31515;
  }
  .meta-preprocessor-numeric {
    color: #098658;
  }
  .meta-structure-dictionary-key-python {
    color: #0451a5;
  }
  .storage {
    color: #0000ff;
  }
  .storage-type {
    color: #0000ff;
  }
  .storage-modifier {
    color: #0000ff;
  }
  .keyword-operator-noexcept {
    color: #0000ff;
  }
  .string {
    color: #a31515;
  }
  .meta-embedded-assembly {
    color: #a31515;
  }
  .string-comment-buffered-block-pug {
    color: #0000ff;
  }
  .string-quoted-pug {
    color: #0000ff;
  }
  .string-interpolated-pug {
    color: #0000ff;
  }
  .string-unquoted-plain-in-yaml {
    color: #0000ff;
  }
  .string-unquoted-plain-out-yaml {
    color: #0000ff;
  }
  .string-unquoted-block-yaml {
    color: #0000ff;
  }
  .string-quoted-single-yaml {
    color: #0000ff;
  }
  .string-quoted-double-xml {
    color: #0000ff;
  }
  .string-quoted-single-xml {
    color: #0000ff;
  }
  .string-unquoted-cdata-xml {
    color: #0000ff;
  }
  .string-quoted-double-html {
    color: #0000ff;
  }
  .string-quoted-single-html {
    color: #0000ff;
  }
  .string-unquoted-html {
    color: #0000ff;
  }
  .string-quoted-single-handlebars {
    color: #0000ff;
  }
  .string-quoted-double-handlebars {
    color: #0000ff;
  }
  .string-regexp {
    color: #811f3f;
  }
  .punctuation-definition-template-expression-begin {
    color: #0000ff;
  }
  .punctuation-definition-template-expression-end {
    color: #0000ff;
  }
  .punctuation-section-embedded {
    color: #0000ff;
  }
  .meta-template-expression {
    color: #000000;
  }
  .support-constant-property-value {
    color: #0451a5;
  }
  .support-constant-font-name {
    color: #0451a5;
  }
  .support-constant-media-type {
    color: #0451a5;
  }
  .support-constant-media {
    color: #0451a5;
  }
  .constant-other-color-rgb-value {
    color: #0451a5;
  }
  .constant-other-rgb-value {
    color: #0451a5;
  }
  .support-constant-color {
    color: #0451a5;
  }
  .support-type-vendored-property-name {
    color: #ff0000;
  }
  .support-type-property-name {
    color: #ff0000;
  }
  .variable-css {
    color: #ff0000;
  }
  .variable-scss {
    color: #ff0000;
  }
  .variable-other-less {
    color: #ff0000;
  }
  .source-coffee-embedded {
    color: #ff0000;
  }
  .support-type-property-name-json {
    color: #0451a5;
  }
  .keyword {
    color: #0000ff;
  }
  .keyword-control {
    color: #af00db;
  }
  .keyword-operator {
    color: #000000;
  }
  .keyword-operator-new {
    color: #0000ff;
  }
  .keyword-operator-expression {
    color: #0000ff;
  }
  .keyword-operator-cast {
    color: #0000ff;
  }
  .keyword-operator-sizeof {
    color: #0000ff;
  }
  .keyword-operator-alignof {
    color: #0000ff;
  }
  .keyword-operator-typeid {
    color: #0000ff;
  }
  .keyword-operator-alignas {
    color: #0000ff;
  }
  .keyword-operator-instanceof {
    color: #0000ff;
  }
  .keyword-operator-logical-python {
    color: #0000ff;
  }
  .keyword-operator-wordlike {
    color: #0000ff;
  }
  .keyword-other-unit {
    color: #098658;
  }
  .punctuation-section-embedded-begin-php {
    color: #800000;
  }
  .punctuation-section-embedded-end-php {
    color: #800000;
  }
  .support-function-git-rebase {
    color: #0451a5;
  }
  .constant-sha-git-rebase {
    color: #098658;
  }
  .storage-modifier-import-java {
    color: #000000;
  }
  .variable-language-wildcard-java {
    color: #000000;
  }
  .storage-modifier-package-java {
    color: #000000;
  }
  .variable-language {
    color: #0000ff;
  }
  .entity-name-function {
    color: #795e26;
  }
  .support-function {
    color: #795e26;
  }
  .support-constant-handlebars {
    color: #795e26;
  }
  .source-powershell,
  .variable-other-member {
    color: #795e26;
  }
  .entity-name-operator-custom-literal {
    color: #795e26;
  }
  .meta-return-type {
    color: #267f99;
  }
  .support-class {
    color: #267f99;
  }
  .support-type {
    color: #267f99;
  }
  .entity-name-type {
    color: #267f99;
  }
  .entity-name-namespace {
    color: #267f99;
  }
  .entity-other-attribute {
    color: #267f99;
  }
  .entity-name-scope-resolution {
    color: #267f99;
  }
  .entity-name-class {
    color: #267f99;
  }
  .storage-type-numeric-go {
    color: #267f99;
  }
  .storage-type-byte-go {
    color: #267f99;
  }
  .storage-type-boolean-go {
    color: #267f99;
  }
  .storage-type-string-go {
    color: #267f99;
  }
  .storage-type-uintptr-go {
    color: #267f99;
  }
  .storage-type-error-go {
    color: #267f99;
  }
  .storage-type-rune-go {
    color: #267f99;
  }
  .storage-type-cs {
    color: #267f99;
  }
  .storage-type-generic-cs {
    color: #267f99;
  }
  .storage-type-modifier-cs {
    color: #267f99;
  }
  .storage-type-variable-cs {
    color: #267f99;
  }
  .storage-type-annotation-java {
    color: #267f99;
  }
  .storage-type-generic-java {
    color: #267f99;
  }
  .storage-type-java {
    color: #267f99;
  }
  .storage-type-object-array-java {
    color: #267f99;
  }
  .storage-type-primitive-array-java {
    color: #267f99;
  }
  .storage-type-primitive-java {
    color: #267f99;
  }
  .storage-type-token-java {
    color: #267f99;
  }
  .storage-type-groovy {
    color: #267f99;
  }
  .storage-type-annotation-groovy {
    color: #267f99;
  }
  .storage-type-parameters-groovy {
    color: #267f99;
  }
  .storage-type-generic-groovy {
    color: #267f99;
  }
  .storage-type-object-array-groovy {
    color: #267f99;
  }
  .storage-type-primitive-array-groovy {
    color: #267f99;
  }
  .storage-type-primitive-groovy {
    color: #267f99;
  }
  .meta-type-cast-expr {
    color: #267f99;
  }
  .meta-type-new-expr {
    color: #267f99;
  }
  .support-constant-math {
    color: #267f99;
  }
  .support-constant-dom {
    color: #267f99;
  }
  .support-constant-json {
    color: #267f99;
  }
  .entity-other-inherited-class {
    color: #267f99;
  }
  .source-cpp,
  .keyword-operator-new {
    color: #af00db;
  }
  .source-cpp,
  .keyword-operator-delete {
    color: #af00db;
  }
  .keyword-other-using {
    color: #af00db;
  }
  .keyword-other-operator {
    color: #af00db;
  }
  .entity-name-operator {
    color: #af00db;
  }
  .variable {
    color: #001080;
  }
  .meta-definition-variable-name {
    color: #001080;
  }
  .support-variable {
    color: #001080;
  }
  .entity-name-variable {
    color: #001080;
  }
  .constant-other-placeholder {
    color: #001080;
  }
  .variable-other-constant {
    color: #0070c1;
  }
  .meta-object-literal-key {
    color: #001080;
  }
  .punctuation-definition-group-regexp {
    color: #d16969;
  }
  .punctuation-definition-group-assertion-regexp {
    color: #d16969;
  }
  .punctuation-definition-character-class-regexp {
    color: #d16969;
  }
  .punctuation-character-set-begin-regexp {
    color: #d16969;
  }
  .punctuation-character-set-end-regexp {
    color: #d16969;
  }
  .keyword-operator-negation-regexp {
    color: #d16969;
  }
  .support-other-parenthesis-regexp {
    color: #d16969;
  }
  .constant-character-character-class-regexp {
    color: #811f3f;
  }
  .constant-other-character-class-set-regexp {
    color: #811f3f;
  }
  .constant-other-character-class-regexp {
    color: #811f3f;
  }
  .constant-character-set-regexp {
    color: #811f3f;
  }
  .keyword-operator-quantifier-regexp {
    color: #000000;
  }
  .keyword-operator-or-regexp {
    color: #ee0000;
  }
  .keyword-control-anchor-regexp {
    color: #ee0000;
  }
  .constant-character {
    color: #0000ff;
  }
  .constant-character-escape {
    color: #ee0000;
  }
  .entity-name-label {
    color: #000000;
  }
}
