/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */

code[class*='language-'],
pre[class*='language-'] {
  color: black;
  font-size: 1em;
  font-family: 'Fira Code', consolas, monospace;
  line-height: 1.5;
  white-space: pre;
  text-align: left;
  word-wrap: normal;
  word-break: normal;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: none;
}

/* Code blocks */
pre[class*='language-'] {
  position: relative;
  margin: 0.5em 0;
  padding: 0;
  overflow: visible;
}
pre[class*='language-'] > code {
  position: relative;
  background-color: #fdfdfd;
  background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
  border-left: 10px solid #358ccb;
  box-shadow: -1px 0 0 0 #358ccb, 0 0 0 1px #dfdfdf;
}

code[class*='language'] {
  display: block;
  height: inherit;
  max-height: inherit;
  padding: 0 1em;
  overflow: auto;
}

/* Margin bottom to accommodate shadow */
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
  background-color: #fdfdfd;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  position: relative;
  display: inline;
  padding: 0.2em;
  color: #c92c2c;
  white-space: normal;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3em;
}

pre[class*='language-']::before,
pre[class*='language-']::after {
  position: absolute;
  bottom: 0.75em;
  left: 0.18em;
  z-index: -2;
  display: block;
  width: 40%;
  height: 20%;
  max-height: 13em;
  box-shadow: 0 13px 8px #979797;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  content: '';
}

:not(pre) > code[class*='language-']::after,
pre[class*='language-']::after {
  right: 0.75em;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}

@media screen and (max-width: 767px) {
  pre[class*='language-']::before,
  pre[class*='language-']::after {
    bottom: 14px;
    box-shadow: none;
  }
}

pre[class*='language-'] {
  .meta-embedded,
  .source-groovy-embedded {
    color: #000000ff;
  }
  .emphasis {
    font-style: italic;
  }
  .strong {
    font-weight: bold;
  }
  .meta-diff-header {
    color: #000080;
  }
  .comment {
    color: #008000;
  }
  .constant-language {
    color: #0000ff;
  }
  .constant-numeric,
  .entity-name-operator-custom-literal-number,
  .variable-other-enummember,
  .keyword-operator-plus-exponent,
  .keyword-operator-minus-exponent {
    color: #098658;
  }
  .constant-regexp {
    color: #811f3f;
  }
  .entity-name-tag {
    color: #800000;
  }
  .entity-name-selector {
    color: #800000;
  }
  .entity-other-attribute-name {
    color: #ff0000;
  }
  .entity-other-attribute-name-class-css,
  .entity-other-attribute-name-class-mixin-css,
  .entity-other-attribute-name-id-css,
  .entity-other-attribute-name-parent-selector-css,
  .entity-other-attribute-name-pseudo-class-css,
  .entity-other-attribute-name-pseudo-element-css,
  .source-css-less entity-other-attribute-name-id,
  .entity-other-attribute-name-attribute-scss,
  .entity-other-attribute-name-scss {
    color: #800000;
  }
  .invalid {
    color: #cd3131;
  }
  .markup-underline {
    text-decoration: underline;
  }
  .markup-bold {
    font-weight: bold;
    color: #000080;
  }
  .markup-heading {
    font-weight: bold;
    color: #800000;
  }
  .markup-italic {
    font-style: italic;
  }
  .markup-inserted {
    color: #098658;
  }
  .markup-deleted {
    color: #a31515;
  }
  .markup-changed {
    color: #0451a5;
  }
  .punctuation-definition-quote-begin-markdown,
  .punctuation-definition-list-begin-markdown {
    color: #0451a5;
  }
  .markup-inline-raw {
    color: #800000;
  }
  .punctuation-definition-tag {
    color: #800000;
  }
  .meta-preprocessor,
  .entity-name-function-preprocessor {
    color: #0000ff;
  }
  .meta-preprocessor-string {
    color: #a31515;
  }
  .meta-preprocessor-numeric {
    color: #098658;
  }
  .meta-structure-dictionary-key-python {
    color: #0451a5;
  }
  .storage {
    color: #0000ff;
  }
  .storage-type {
    color: #0000ff;
  }
  .storage-modifier,
  .keyword-operator-noexcept {
    color: #0000ff;
  }
  .string,
  .entity-name-operator-custom-literal-string,
  .meta-embedded-assembly {
    color: #a31515;
  }
  .string-comment-buffered-block-pug,
  .string-quoted-pug,
  .string-interpolated-pug,
  .string-unquoted-plain-in-yaml,
  .string-unquoted-plain-out-yaml,
  .string-unquoted-block-yaml,
  .string-quoted-single-yaml,
  .string-quoted-double-xml,
  .string-quoted-single-xml,
  .string-unquoted-cdata-xml,
  .string-quoted-double-html,
  .string-quoted-single-html,
  .string-unquoted-html,
  .string-quoted-single-handlebars,
  .string-quoted-double-handlebars {
    color: #0000ff;
  }
  .string-regexp {
    color: #811f3f;
  }
  .punctuation-definition-template-expression-begin,
  .punctuation-definition-template-expression-end,
  .punctuation-section-embedded {
    color: #0000ff;
  }
  .meta-template-expression {
    color: #000000;
  }
  .support-constant-property-value,
  .support-constant-font-name,
  .support-constant-media-type,
  .support-constant-media,
  .constant-other-color-rgb-value,
  .constant-other-rgb-value,
  .support-constant-color {
    color: #0451a5;
  }
  .support-type-vendored-property-name,
  .support-type-property-name,
  .variable-css,
  .variable-scss,
  .variable-other-less,
  .source-coffee-embedded {
    color: #ff0000;
  }
  .support-type-property-name-json {
    color: #0451a5;
  }
  .keyword {
    color: #0000ff;
  }
  .keyword-control {
    color: #0000ff;
  }
  .keyword-operator {
    color: #000000;
  }
  .keyword-operator-new,
  .keyword-operator-expression,
  .keyword-operator-cast,
  .keyword-operator-sizeof,
  .keyword-operator-alignof,
  .keyword-operator-typeid,
  .keyword-operator-alignas,
  .keyword-operator-instanceof,
  .keyword-operator-logical-python,
  .keyword-operator-wordlike {
    color: #0000ff;
  }
  .keyword-other-unit {
    color: #098658;
  }
  .punctuation-section-embedded-begin-php,
  .punctuation-section-embedded-end-php {
    color: #800000;
  }
  .support-function-git-rebase {
    color: #0451a5;
  }
  .constant-sha-git-rebase {
    color: #098658;
  }
  .storage-modifier-import-java,
  .variable-language-wildcard-java,
  .storage-modifier-package-java {
    color: #000000;
  }
  .variable-language {
    color: #0000ff;
  }
}
