/* roboto-slab-300 - latin */
@font-face {
  font-weight: 300;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-display: swap
  src: local(''), url('../fonts/roboto-slab-v11-latin-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-slab-v11-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
  font-weight: 400;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-display: swap
  src: local(''), url('../fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-slab-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-regular - latin */
@font-face {
  font-weight: 400;
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap
  src: local('Raleway'), local('Raleway-Regular'), url('../fonts/raleway-v14-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/raleway-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-italic - latin */
@font-face {
  font-weight: 400;
  font-family: 'Raleway';
  font-style: italic;
  font-display: swap
  src: local('Raleway Italic'), local('Raleway-Italic'), url('../fonts/raleway-v14-latin-italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/raleway-v14-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin */
@font-face {
  font-weight: 700;
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap
  src: local('Raleway Bold'), local('Raleway-Bold'), url('../fonts/raleway-v14-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/raleway-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-code-regular - latin-ext_latin */
@font-face {
  font-weight: 400;
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap
  src: local(''), url('../fonts/fira-code-v8-latin-ext_latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/fira-code-v8-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
